    /* ! Custom properties */
    :root{
        --white: #FFFFFF;
        --dark-white: #D9DADC;
        --black: #000000;
        --light-black: #1F1F1F;
        --dark-grey: #363636;
        --grey: #727272;
        --light-grey: #BEBCBB;
        --red: #CD3D0F;
        --dark-blue: #161C3B;
        --blue: #00439C;
        --light-blue: #0070D1;
}
  
    /* ! Generics */
    header {
        height: 120px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    }

    footer {
        background-color: var(--blue);
    }

    h2 {
        font-size: 43px;
    }

    h3 {
        font-size: 38px;
    }

    /* ! Utils */
    .bg-custom-light-black {
        background-color: var(--light-black);
    }

    .bg-custom-dark-white {
        background-color: var(--dark-white);
    }

    .bg-custom-dark-grey {
        background-color: var(--dark-grey);
    }

    .bg-custom-light-grey {
        background-color: var(--light-grey);
    }

    .bg-custom-red {
        background-color: var(--red);
    }

    .text-custom-light-blue {
        color: var(--light-blue);
    }

    .text-custom-grey {
        color: var(--grey);
    }

    .padding-bigger {
        padding-bottom: 100px;
    }



    /* ! Header */
    .header-top {
        min-height: 40px;
    }

    .header-top img {
        height: 15px;
    }

    .header-bottom .navbar img.chevron {
        height: 12px;
    }

    .header-bottom .navbar img.lens {
        height: 30px;
    }

    /* ! Main */

    /* Jumbotron */
    #returnal {
        background-image: url(../htmlcss-playstation/img/jumbo-bg.png);
        background-size: contain;
        background-size: cover;
        background-position: top center;
        padding-top: 230px;
        padding-bottom: 60px;
    }

    /* Images-title */
    #img-title {
        background-color: var(--white);
    }

    /* Takes two */
    #takes-two {
        background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
        background-size: contain;
        background-size: cover;
        background-position: top center;
        padding-bottom: 60px;
    }

    /* New releases */
    #new-releases {
        background-color: var(--light-black);
        padding-bottom: 60px;
    }

    /* Explore-play4  */    
    @media screen and (min-width: 768px){
        #explore-play4 h3 {
            height: 100px;
        }
    
        #explore-play4 .col-12 > p {
            height: 120px;
        }
    }

    @media screen and (min-width: 1400px){
        #explore-play4 h3 {
            height: 60px;
        }
    
        #explore-play4 .col-12 > p {
            height: 70px;
        }
    }

    /* Play-plus */
    #play-plus {
        background-color: var(--light-grey);
    }

    @media screen and (min-width: 1400px){
        #play-plus p, #play-plus a {
            font-size: 20px;
        }
    }

    /* Play now */
    #play-now {
        background-color: var(--dark-blue);
    }

    @media screen and (min-width: 1400px){
        #play-now p, #play-now a {
            font-size: 20px;
        }
    }

    /* Footer */
    footer img.symbol-ps {
        height: 100px;
    }

    footer img.symbol-language {
        height: 20px;
    }

    footer img.symbol-sony {
        height: 60px;
    }



/*************** Effects ****************/

/* Button hover */

/* Img scale plus hover */
#img-title img {
    transition: transform .3s;
}

#img-title img:hover {
    transform: scale(1.05) translateY(-10px);
}




