    /* Custom properties */
    :root{
        --white: #FFFFFF;
        --black: #000000;
        --light-black: #1F1F1F;
        --dark-grey: #363636;
        --grey: #818181;
        --light-grey: #BEBCBB;
        --red: #CD3D0F;
        --dark-blue: #161C3B;
        --blue: #00439C;
}
  
    /* Generics */
    header {
        height: 120px;
        background-color: orange;
        position: sticky;
        top: 0;
        left: 0;
    }

    main {
        height: calc(100vh - 120px);
        overflow-y: auto;
    }

    /* Utils */

    

    /* Header */
    .header-top {
        min-height: 40px;
    }

    .header-top img {
        height: 15px;
    }

    .header-bottom {
        min-height: 80px;
    }


    /* Sections */

