    /* ! Custom properties */
    :root{
        --white: #FFFFFF;
        --black: #000000;
        --light-black: #1F1F1F;
        --dark-grey: #363636;
        --grey: #818181;
        --light-grey: #BEBCBB;
        --red: #CD3D0F;
        --dark-blue: #161C3B;
        --blue: #00439C;
}
  
    /* ! Generics */
    header {
        height: 120px;
        background-color: orange;
        position: sticky;
        top: 0;
        left: 0;
    }

    main {
        height: calc(100vh - 120px);
        overflow-y: auto;
    }

    /* ! Utils */
    .bg-custom-light-black {
        background-color: var(--light-black);
    }


    /* ! Header */
    .header-top {
        min-height: 40px;
    }

    .header-top img {
        height: 15px;
    }

    .header-bottom {
        min-height: 80px;
    }

    /* ! Main */

    /* Jumbotron */
    #returnal {
        min-height: 550px;
        background-image: url(../htmlcss-playstation/img/jumbo-bg.png);
        background-size: contain;
        background-size: cover;
        background-position: center;
    }

    #returnal .col-7, #returnal .col-12, #returnal .col-3 {
        min-height: 40px;
    }

    /* Images-title */
    #img-title {
        background-color: var(--white);
    }

    #img-title .row .col-6 {
        background-color: yellow;
    }

    /* Console-tools */
    #console-tools .img-bigger {
        height: 200px;
    }

    /* Takes two */
    #takes-two {
        min-height: 500px;
        background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
        background-size: contain;
        background-size: cover;
        background-position: center;
    }

    #takes-two .col-7 {
        min-height: 100px;
    }

    #takes-two .col-11, #takes-two .col-3 {
        min-height: 40px;
    }

    /* New releases */
    #new-releases {
        background-color: var(--light-black);
    }
    #new-releases .col-5, #new-releases .col-10 {
       min-height: 40px; 
    }

    /* Explore-play4  */

    
    /* Play-plus */
    #play-plus {
        background-color: var(--light-grey);
    }

    /* Play now */
    #play-now {
        background-color: var(--dark-blue);
    }




